<div id="popup" class="popup">
	<a href="#teacher__txt" class="popup__area"></a>
	<div class="popup__body">
		<div class="popup__content">
			<a href="#teacher__title" class="popup__close">
				<svg class="popup__certificate-icon-close" width="25" height="25">
					<use href="./images/icons.svg#icon-close"></use>
				</svg>
			</a>
			<div class="popup__certificate">
				<img src="./images/cambridge-exams-english.jpg" alt="Cambrige English entry level certificate" width="100%">
			</div>
		</div>
	</div>
</div>