<section id="training-options" class="choice">
	<div class="choice__primary-bg">
		<div class="container container__choice">
			<h2 class="choice__title">Why do people choose us</h2>
			<div class="choice__secondary-bg">
				<ul class="choice__list">
					<li class="choice__item">
						<h3 class="choice__txt-number">01</h3>
						<p class="choice__txt">Training in small groups</p>
					</li>
					<li class="choice__item">
						<h3 class="choice__txt-number">02</h3>
						<p class="choice__txt">Rendered notes</p>
					</li>
					<li class="choice__item">
						<h3 class="choice__txt-number">03</h3>
						<p class="choice__txt">Each lesson has a goal and a specific result</p>
					</li>
					<li class="choice__item">
						<h3 class="choice__txt-number">04</h3>
						<p class="choice__txt">The real results of the teacher</p>
					</li>
					<li class="choice__item">
						<h3 class="choice__txt-number">05</h3>
						<p class="choice__txt">The course program meets the requirements of the MES of Ukraine</p>
					</li>
					<li class="choice__item">
						<h3 class="choice__txt-number">06</h3>
						<p class="choice__txt">Set of groups by level of knowledge</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>