<section class="feedback" id="feedback">
	<div class="container">
		<h2 class="feedback__title">Feedback from graduates</h2>

		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="swiper-slide__flex">
						<div class="swiper-slide__flex-item">
							<img class="feedback__main-img"
								srcset="./images/tonya-768.jpg 1x, ./images/tonya-768-@2x.jpg 2x, ./images/tonya-768-@3x.jpg 3x"
								src="./images/tonya-320.jpg" alt="Female student" width="90">
							<a href="#" class="feedback__link">
								<svg class="feedback__icon" width="30" height="30">
									<use class="feedback__svg" href="./images/icons.svg#icon-vk"></use>
								</svg>
							</a>
						</div>
						<div class="swiper-slide__flex-item">
							<h3 class="feedback__graduate-title">Tonya Kucherovskaya</h3>
							<p class="feedback__graduate-description">Graduated from 2015, National University of Bioresources
								<br>and natural history of Ukraine
							</p>
							<p class="feedback__txt card-holder">In a short time with Elena, I mastered grammar and replenished my
								completely
								empty
								vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
								because she
								was
								really worried about my success. She became an authority for me, but I did not tremble in class,
								fearing to
								make the slightest mistake. Now I can brag that I'm student<span id="dots">...</span>
								<!-- <span id="more" class="feedback__moretext">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Vero
							illo asperiores officiis expedita beatae autem architecto soluta doloribus consectetur aliquid. Lorem
							ipsum dolor sit amet consectetur adipisicing elit. Vero illo asperiores officiis expedita beatae autem
							architecto soluta doloribus consectetur aliquid.</span> -->
								<!-- <button type="button" class="feedback__txt--more" id="read" onclick="read()">Read <br>more</button> -->
								<a href="#feedback" class="feedback__txt--more">Read more</a>

							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-slide__flex">
						<div class="swiper-slide__flex-item">
							<img class="feedback__main-img"
								srcset="./images/feedback-1.jpg 1x, ./images/feedback-1-@2x.jpg 2x, ./images/feedback-1-@3x.jpg 3x"
								src="./images/feedback-1.jpg" alt="Female student" width="90">
							<a href="#" class="feedback__link">
								<svg class="feedback__icon" width="30" height="30">
									<use class="feedback__svg" href="./images/icons.svg#icon-vk"></use>
								</svg>
							</a>
						</div>
						<div class="swiper-slide__flex-item">
							<h3 class="feedback__graduate-title">Anna Vasina</h3>
							<p class="feedback__graduate-description">Graduated from 2015, National University of Bioresources
								<br>and natural history of Ukraine
							</p>
							<p class="feedback__txt card-holder">In a short time with Elena, I mastered grammar and replenished my
								completely
								empty
								vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
								because she
								was
								really worried about my success. She became an authority for me, but I did not tremble in class,
								fearing to
								make the slightest mistake. Now I can brag that I'm student<span id="dots">...</span>
								<!-- <span id="more" class="feedback__moretext">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Vero
							illo asperiores officiis expedita beatae autem architecto soluta doloribus consectetur aliquid. Lorem
							ipsum dolor sit amet consectetur adipisicing elit. Vero illo asperiores officiis expedita beatae autem
							architecto soluta doloribus consectetur aliquid.</span> -->
								<!-- <button type="button" class="feedback__txt--more" id="read" onclick="read()">Read <br>more</button> -->
								<a href="#feedback" class="feedback__txt--more">Read more</a>

							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-slide__flex">
						<div class="swiper-slide__flex-item">
							<img class="feedback__main-img"
								srcset="./images/feedback-2.jpg 1x, ./images/feedback-2-@2x.jpg 2x, ./images/feedback-2-@3x.jpg 3x"
								src="./images/feedback-2.jpg" alt="Female student" width="90">
							<a href="#" class="feedback__link">
								<svg class="feedback__icon" width="30" height="30">
									<use class="feedback__svg" href="./images/icons.svg#icon-vk"></use>
								</svg>
							</a>
						</div>
						<div class="swiper-slide__flex-item">
							<h3 class="feedback__graduate-title">Margarita Portnova</h3>
							<p class="feedback__graduate-description">Graduated from 2015, National University of Bioresources
								<br>and natural history of Ukraine
							</p>
							<p class="feedback__txt card-holder">In a short time with Elena, I mastered grammar and replenished my
								completely
								empty
								vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
								because she
								was
								really worried about my success. She became an authority for me, but I did not tremble in class,
								fearing to
								make the slightest mistake. Now I can brag that I'm student<span id="dots">...</span>
								<!-- <span id="more" class="feedback__moretext">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Vero
							illo asperiores officiis expedita beatae autem architecto soluta doloribus consectetur aliquid. Lorem
							ipsum dolor sit amet consectetur adipisicing elit. Vero illo asperiores officiis expedita beatae autem
							architecto soluta doloribus consectetur aliquid.</span> -->
								<!-- <button type="button" class="feedback__txt--more" id="read" onclick="read()">Read <br>more</button> -->
								<a href="#feedback" class="feedback__txt--more">Read more</a>

							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-slide__flex">
						<div class="swiper-slide__flex-item">
							<img class="feedback__main-img"
								srcset="./images/feedback-3.jpg 1x, ./images/feedback-3-@2x.jpg 2x, ./images/feedback-3-@3x.jpg 3x"
								src="./images/feedback-3.jpg" alt="Female student" width="90">
							<a href="#" class="feedback__link">
								<svg class="feedback__icon" width="30" height="30">
									<use class="feedback__svg" href="./images/icons.svg#icon-vk"></use>
								</svg>
							</a>
						</div>
						<div class="swiper-slide__flex-item">
							<h3 class="feedback__graduate-title">Irina Popova</h3>
							<p class="feedback__graduate-description">Graduated from 2015, National University of Bioresources
								<br>and natural history of Ukraine
							</p>
							<p class="feedback__txt card-holder">In a short time with Elena, I mastered grammar and replenished my
								completely
								empty
								vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
								because she
								was
								really worried about my success. She became an authority for me, but I did not tremble in class,
								fearing to
								make the slightest mistake. Now I can brag that I'm student<span id="dots">...</span>
								<!-- <span id="more" class="feedback__moretext">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Vero
							illo asperiores officiis expedita beatae autem architecto soluta doloribus consectetur aliquid. Lorem
							ipsum dolor sit amet consectetur adipisicing elit. Vero illo asperiores officiis expedita beatae autem
							architecto soluta doloribus consectetur aliquid.</span> -->
								<!-- <button type="button" class="feedback__txt--more" id="read" onclick="read()">Read <br>more</button> -->
								<a href="#feedback" class="feedback__txt--more">Read more</a>

							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-slide__flex">
						<div class="swiper-slide__flex-item"><img class="feedback__main-img"
								srcset="./images/feedback-4.jpg 1x, ./images/feedback-4-@2x.jpg 2x, ./images/feedback-4-@3x.jpg 3x"
								src="./images/feedback-4.jpg" alt="Female student" width="90">
							<a href="#" class="feedback__link">
								<svg class="feedback__icon" width="30" height="30">
									<use class="feedback__svg" href="./images/icons.svg#icon-vk"></use>
								</svg>
							</a>
						</div>
						<div class="swiper-slide__flex-item">
							<h3 class="feedback__graduate-title">Yulia Voronova</h3>
							<p class="feedback__graduate-description">Graduated from 2015, National University of Bioresources
								<br>and natural history of Ukraine
							</p>
							<p class="feedback__txt card-holder">In a short time with Elena, I mastered grammar and replenished my
								completely
								empty
								vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
								because she
								was
								really worried about my success. She became an authority for me, but I did not tremble in class,
								fearing to
								make the slightest mistake. Now I can brag that I'm student<span id="dots">...</span>
								<!-- <span id="more" class="feedback__moretext">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Vero
							illo asperiores officiis expedita beatae autem architecto soluta doloribus consectetur aliquid. Lorem
							ipsum dolor sit amet consectetur adipisicing elit. Vero illo asperiores officiis expedita beatae autem
							architecto soluta doloribus consectetur aliquid.</span> -->
								<!-- <button type="button" class="feedback__txt--more" id="read" onclick="read()">Read <br>more</button> -->
								<a href="#feedback" class="feedback__txt--more">Read more</a>

							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-slide__flex">
						<div class="swiper-slide__flex-item">
							<img class="feedback__main-img"
								srcset="./images/feedback-5.jpg 1x, ./images/feedback-5-@2x.jpg 2x, ./images/feedback-5-@3x.jpg 3x"
								src="./images/feedback-5.jpg" alt="Female student" width="90">
							<a href="#" class="feedback__link">
								<svg class="feedback__icon" width="30" height="30">
									<use class="feedback__svg" href="./images/icons.svg#icon-vk"></use>
								</svg>
							</a>
						</div>
						<div class="swiper-slide__flex-item">
							<h3 class="feedback__graduate-title">Inna Mironova</h3>
							<p class="feedback__graduate-description">Graduated from 2015, National University of Bioresources
								<br>and natural history of Ukraine
							</p>
							<p class="feedback__txt card-holder">In a short time with Elena, I mastered grammar and replenished my
								completely
								empty
								vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
								because she
								was
								really worried about my success. She became an authority for me, but I did not tremble in class,
								fearing to
								make the slightest mistake. Now I can brag that I'm student<span id="dots">...</span>
								<!-- <span id="more" class="feedback__moretext">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Vero
							illo asperiores officiis expedita beatae autem architecto soluta doloribus consectetur aliquid. Lorem
							ipsum dolor sit amet consectetur adipisicing elit. Vero illo asperiores officiis expedita beatae autem
							architecto soluta doloribus consectetur aliquid.</span> -->
								<!-- <button type="button" class="feedback__txt--more" id="read" onclick="read()">Read <br>more</button> -->
								<a href="#feedback" class="feedback__txt--more">Read more</a>

							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-slide__flex">
						<div class="swiper-slide__flex-item">
							<img class="feedback__main-img"
								srcset="./images/feedback-7.jpg 1x, ./images/feedback-7-@2x.jpg 2x, ./images/feedback-7-@3x.jpg 3x"
								src="./images/feedback-7.jpg" alt="Female student" width="90">
							<a href="#" class="feedback__link">
								<svg class="feedback__icon" width="30" height="30">
									<use class="feedback__svg" href="./images/icons.svg#icon-vk"></use>
								</svg>
							</a>
						</div>
						<div class="swiper-slide__flex-item">
							<h3 class="feedback__graduate-title">Regina Panfilova</h3>
							<p class="feedback__graduate-description">Graduated from 2015, National University of Bioresources
								<br>and natural history of Ukraine
							</p>
							<p class="feedback__txt card-holder">In a short time with Elena, I mastered grammar and replenished my
								completely
								empty
								vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
								because she
								was
								really worried about my success. She became an authority for me, but I did not tremble in class,
								fearing to
								make the slightest mistake. Now I can brag that I'm student<span id="dots">...</span>
								<!-- <span id="more" class="feedback__moretext">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Vero
							illo asperiores officiis expedita beatae autem architecto soluta doloribus consectetur aliquid. Lorem
							ipsum dolor sit amet consectetur adipisicing elit. Vero illo asperiores officiis expedita beatae autem
							architecto soluta doloribus consectetur aliquid.</span> -->
								<!-- <button type="button" class="feedback__txt--more" id="read" onclick="read()">Read <br>more</button> -->
								<a href="#feedback" class="feedback__txt--more">Read more</a>

							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div> -->

			<!-- Swiper navigation -->

			<svg class="left-arrow" width="25" height="30">
				<use href="./images/icons.svg#icon-left-arrow"></use>
			</svg>
			<svg class="right-arrow" width="25" height="30">
				<use href="./images/icons.svg#icon-right-arrow"></use>
			</svg>

			<div class="swiper-pagination-container">
				<div class="swiper-pagination"></div>
			</div>

		</div>
	</div>
</section>