<div class="container--outer">
	<a href="#" class="footer__logo">
		<svg class="footer__logo-icon" width="80" height="29">
			<use href="./images/icons.svg#icon-logo-main"></use>
		</svg>
	</a>

	<a class="footer__tel" href="tel:+38-(000)-000-00-00">
		<svg class="footer__icon-tel" width="20" height="19">
			<use href="./images/icons.svg#icon-phone"></use>
		</svg>
		+38 (000) 000 00 00
	</a>
	<img class="footer__icon-instagram" src="./images/instagram.jpg" alt="Icon instagram" width="40">

	<div class="footer__copy-right">
		<span class="footer__copy-right-txt">&#64; All rights reserved, 2022</span>
	</div>

</div>

</footer>