<footer id="contacts" class="footer">

	<!-- FOOTER FORM -->

	<div class="container--outer">
		<form class="form">
			<div class="container">
				<h2 class="form__title">Registration for a <span class="form__title--accent">free</span> phone
					<span class="form__title--accent">consultation</span> on the nuances of English UPE
				</h2>

				<p class="form__txt">Leave a request for participation in a <span class="form__txt--accent">free
						lesson</span>.
					<br>A consultant will contact you and answer your questions
				</p>

				<div class="form__group">
					<input class="form__input" type="text" name="name" id="name" placeholder=" ">
					<label for="name" class="form__label">Name&#42;</label>
					<div class="form__field-border"></div>
				</div>

				<div class="form__group">
					<input class="form__input" type="tel" name="tel" id="phone" placeholder=" ">
					<label for="phone" class="form__label">Phone&#42;</label>
					<div class="form__field-border"></div>
				</div>

				<button class="form__btn" type="submit">I want a free lesson</button>
			</div>
		</form>
	</div>