<header class="header">
	<div class="container container--tablet">

		<a href="#" class="header__logo">
			<svg class="header__logo-icon" width="80" height="29">
				<use href="./images/icons.svg#icon-logo-main"></use>
			</svg>
		</a>

		<button class="site-nav__btn-phone site-nav__btn-phone-tablet" type="button">Consultation by phone</button>
		<nav class="site-nav">
			<button type="button" class="site-nav__btn-burger" aria-label="Mobile menu open button" data-menu-btn-open>
				<svg class="site-nav__icon" width="21" height="12">
					<use href="./images/icons.svg#icon-burger-menu"></use>
				</svg>
			</button>

			<div class="burger-menu" data-menu>
				<div class="burger-menu__container">
					<a href="#" class="burger-menu__logo">
						<svg class="burger-menu__logo-icon" width="80" height="29">
							<use href="./images/icons.svg#icon-logo-revers"></use>
							<use class="burger-menu__logo-icon-main" href="./images/icons.svg#icon-logo-main"></use>
						</svg>
					</a>
					<ul class="site-nav__menu">
						<li class="site-nav__item">
							<a href="#our-program" class="site-nav__item-link" data-menu-item>Studying program</a>
						</li>
						<li class="site-nav__item">
							<a href="#about" class="site-nav__item-link" data-menu-item-1>About</a>
						</li>
						<li class="site-nav__item">
							<a href="#training-options" class="site-nav__item-link" data-menu-item-2>Training options</a>
						</li>
						<li class="site-nav__item">
							<a href="#contacts" class="site-nav__item-link" data-menu-item-3>Contacts</a>
						</li>
					</ul>
					<button class="site-nav__btn-phone" type="button">Consultation by phone</button>

					<button class="burger-menu__btn-close" data-menu-btn-close>
						<svg class="burger-menu__icon" width="16" height="16	">
							<use href="./images/icons.svg#icon-burger-menu-close"></use>
						</svg>
					</button>
				</div>
			</div>

		</nav>
	</div>
</header>