<section class="help">
	<div class="help__primary-bg">
		<div class="container container--campfire">
			<h2 class="help__title">The main problems of students <br>in English UPE, which <br>we
				<span class="help__title--accent">help</span> to solve
			</h2>
			<div class="help__secondary-bg">
				<ul class="help__list">
					<li class="help__item">
						<h3 class="help__txt-number">01</h3>
						<p class="help__txt">Grammar</p>
					</li>
					<li class="help__item">
						<h3 class="help__txt-number">02</h3>
						<p class="help__txt">Inability to understand spoken English</p>
					</li>
					<li class="help__item">
						<h3 class="help__txt-number">03</h3>
						<p class="help__txt">Stingy vocabulary for writing an essay</p>
					</li>
					<li class="help__item">
						<h3 class="help__txt-number">04</h3>
						<p class="help__txt">Preparing alone</p>
					</li>
					<li class="help__item">
						<h3 class="help__txt-number">05</h3>
						<p class="help__txt">Lack of a single knowledge resource</p>
					</li>
					<li class="help__item">
						<h3 class="help__txt-number">06</h3>
						<p class="help__txt">Lack of self-organization and laziness</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>