<div class="hero">
	<div class="container">
		<div class="hero__flex">
			<div class="hero__flex-txt">
				<h1 class="hero__title">Complex preparation for English UPE</h1>
				<p class="hero__txt"><span class="hero__txt--first-accent">It won’t be easy.</span><br>
					But you are guaranteed to get<br>
					<span class="hero__txt--second-accent">+25 points</span>
				</p>
				<a href="#contacts" class="hero__btn">I want a free lesson</a>
			</div>
			<div class="hero__img"></div>
		</div>

		<ul class="hero__list">
			<li class="hero__item">
				<svg class="hero__icon" width="59" height="60">
					<use href="./images/icons.svg#icon-rectangle" class="hero__icon-rect"></use>
					<use href="./images/icons.svg#icon-female-student" class="hero__icon-content" width="34" height="40" x="12"
						y="8"></use>
				</svg>
				<p class="hero__advantage-txt">Adapted author's UPE program</p>
			</li>
			<li class="hero__item">
				<svg class="hero__icon" width="59" height="60">
					<use href="./images/icons.svg#icon-rectangle" class="hero__icon-rect"></use>
					<use href="./images/icons.svg#icon-mobile-learning" class="hero__icon-content" width="42" height="41" x="5"
						y="10"></use>
				</svg>
				<p class="hero__advantage-txt">Modern <br>teaching methods</p>
			</li>
			<li class="hero__item">
				<svg class="hero__icon" width="59" height="60">
					<use href="./images/icons.svg#icon-rectangle" class="hero__icon-rect"></use>
					<use href="./images/icons.svg#icon-insurance" class="hero__icon-content" width="35" height="40" x="12" y="10">
					</use>
				</svg>
				<p class="hero__advantage-txt">Financial guarantee the result</p>
			</li>
		</ul>
	</div>
</div>