<div class="backdrop is-hidden" data-modal>
	<div class="modal">
		<button class="modal__btn-close" aria-label="Modal close button" data-modal-close>
			<svg class="modal__icon-close" width="25" height="25">
				<use href="./images/icons.svg#icon-close"></use>
			</svg>
		</button>

		<form class="modal__form">
			<h2 class="modal__title">Sign up for training</h2>
			<ul>
				<li class="modal__form-field">
					<label for="name" class="modal__form-field-label">Name</label>
					<input class="modal__form-field-input" type="text" name="name" id="name" required>
					<svg class="modal__icon" width="25" height="25">
						<use href="./images/icons.svg#icon-person-form"></use>
					</svg>
				</li>
				<li class="modal__form-field">
					<label for="tel" class="modal__form-field-label">Phone number</label>
					<input class="modal__form-field-input" type="tel" name="tel" id="tel" required>
					<svg class="modal__icon" width="25" height="25">
						<use href="./images/icons.svg#icon-phone-form"></use>
					</svg>
				</li>
				<li class="modal__form-field">
					<label for="name" class="modal__form-field-label">Choose your English level</label>
					<select class="modal__form-field-select" type="text" name="name" id="name">
						<option class="modal__form-field-option" value="a">Beginner</option>
						<option class="modal__form-field-option" value="a1">Elementary</option>
						<option class="modal__form-field-option" value="a2">Pre-Intermediate</option>
						<option class="modal__form-field-option" value="b1">Intermediate</option>
						<option class="modal__form-field-option" value="b2">Upper-Intermediate</option>
						<option class="modal__form-field-option" value="c1">Advanced</option>
						<option class="modal__form-field-option" value="c2">Proficiency</option>
						<option class="modal__form-field-option" value="z">I don't know</option>
					</select>
				</li>
			</ul>
			<button class="modal__form-button-send" type="submit">Send</button>
		</form>

	</div>
</div>