<section id="our-program" class="program">
	<div class="program__primary-bg">
		<div class="container--outer">
			<div class="program__image-bg">
				<h2 class="program__title">Our program</h2>
				<ul class="program__list">
					<li class="program__item">
						<h3 class="program__semester">1 <span class="program__semester--txt-size">semester</span></h3>
						<h4 class="program__kind">Grammar</h4>
						<p class="program__txt">Nouns & Articles <br>Adjectives & Adverb</p>
						<h4 class="program__kind">Vocabulary</h4>
						<p class="program__txt">Family & Relations <br>People & Society</p>
					</li>
					<li class="program__item">
						<h3 class="program__semester">2 <span class="program__semester--txt-size">semester</span></h3>
						<h4 class="program__kind">Grammar</h4>
						<p class="program__txt">Pronouns <br>Active Voice <br>Passive Voice</p>
						<h4 class="program__kind">Vocabulary</h4>
						<p class="program__txt">Home <br>School <br>Work</p>
					</li>
					<li class="program__item">
						<h3 class="program__semester">3 <span class="program__semester--txt-size">semester</span></h3>
						<h4 class="program__kind">Grammar</h4>
						<p class="program__txt">Modal verbs <br>Infinitive <br>Gerund <br>Participle: 1, 2</p>
						<h4 class="program__kind">Vocabulary</h4>
						<p class="program__txt">Travel & Tourism <br>Culture & Free Time <br>Sport </p>
						<h4 class="program__kind">Writing</h4>
						<p class="program__txt">Informal Letter</p>
					</li>
					<li class="program__item">
						<h3 class="program__semester">4 <span class="program__semester--txt-size">semester</span></h3>
						<h4 class="program__kind">Grammar</h4>
						<p class="program__txt">Clauses: Conditional and Wishes <br>Direct / Reported speech <br>Preposition
							<br>Conjunction
							<br>Numeral
						</p>
						<h4 class="program__kind">Vocabulary</h4>
						<p class="program__txt">Healthy Living <br>Nature & Environment <br>Money</p>
						<h4 class="program__kind">Writing</h4>
						<p class="program__txt">Formal Letter</p>
					</li>
					<li class="program__item">
						<h3 class="program__semester">5 <span class="program__semester--txt-size">semester</span></h3>
						<h4 class="program__kind"><span class="program__kind--transparent">Final</span></h4>
						<p class="program__txt">Revision <br>Tests</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>