.form {
	background-image: linear-gradient(to right, $overlay, $overlay),
		url(../images/form-bg-320-@3x.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: $section-bg;
}

.form__title {
	padding-top: 40px;
	margin-bottom: 24px;
	font-weight: 800;
	font-size: 14px;
	line-height: 1.3;
	text-align: center;
	letter-spacing: 0.03em;
	color: $primary-white;

	&--accent {
		color: $accent;
	}
}

.form__txt {
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	letter-spacing: 0.08em;
	color: $primary-white;

	&--accent {
		color: $accent;
	}
}

.form__input {
	width: 100%;
	height: 48px;
	padding-left: 28px;
	background-color: transparent;
	border: 1px solid $primary-white;
	color: $primary-white;
	outline: none;

	&:focus {
		border-color: $accent;
	}
}

.form__group {
	position: relative;
	margin-bottom: 20px;
}

.form__label {
	position: absolute;
	left: 28px;
	top: 50%;
	transform: translateY(-50%);

	font-weight: 600;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.08em;
	color: $primary-white;
	opacity: .7;

	.form__input:not(:placeholder-shown)~& {
		opacity: 0;
	}
}

.form__btn {
	display: inline-block;
	width: 100%;
	height: 48px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 0;
	background-color: $accent;
	border-color: transparent;

	font-weight: 700;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: $primary-white;
}

.form {
	margin-bottom: 40px;
}