.guarantee__title {
	text-align: center;
	margin-bottom: 40px;
}

.guarantee__bg {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $guarantee-bg;
}

.guarantee__item {
	position: relative;
	margin-left: 35px;

	&:not(:last-child) {
		margin-bottom: 24px;
	}

	&::before {
		content: '';
		position: absolute;
		display: inline-block;
		width: 15px;
		height: 20px;
		left: -35px;
		background-image: url(../images/campfire.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	&:not(:last-child)::after {
		content: '';
		position: absolute;
		display: inline-block;
		width: 5px;
		height: 80px;
		top: 22px;
		left: -28px;
		background-image: url(../images/line-dashed.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}


}

.guarantee__txt {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.67;
	color: $third-txt;

	&--second-sentence,
	&--star {
		color: $accent;
	}
}

.guarantee {
	margin-bottom: 40px;
}