.help__primary-bg {
	width: 100%;
	height: 545px;
	padding-top: 24px;
	margin-bottom: 197px;
	background-color: $section-bg;
}

.help__title {
	font-weight: 800;
	font-size: 24px;
	margin-bottom: 24px;
	line-height: 1.3;
	letter-spacing: 0.03em;

	color: $primary-white;

	&--accent {
		color: $accent;
	}
}

.help__secondary-bg {
	width: 100%;
	height: 499px;
	padding-left: 32px;
	padding-right: 12px;
	padding-top: 20px;
	padding-bottom: 24px;
	background-color: $primary-white;
}

.help__txt-number {
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.08em;
	color: $accent;

	&::before {
		content: '— ';
	}
}

.help__txt {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.08em;
}

.help__item {
	&:not(:last-child) {
		margin-bottom: 16px;
	}
}